 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;                    
}
body {
    background: #ef32d9;  /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(right, #89fffd, #ef32d9);
    background: -moz-linear-gradient(right, #89fffd, #ef32d9);
    background: -o-linear-gradient(right, #89fffd, #ef32d9);
    background: linear-gradient(to left, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 1em;
    font-weight: 400;     
}
header {
    min-height: 50px;
    padding: 10px;
    background-color: #ffffff;
    text-align: center;
    font-size: 1.4em;
    font-weight: 700;
    color: #000000;
    box-shadow: 0 1px 4px rgba(0,0,0,.22);                
}
.container {
    margin: 0 auto;
    padding: 15px;
}
 @media (max-width: 767px) {.container {width: 345px;}}
 @media (max-width: 767px) {
    .column-extraSmall-12 {width: 100%;}
    .column-extraSmall-11 {width: 91.66667%;}
    .column-extraSmall-10 {width: 83.33333%;}
    .column-extraSmall-9 {width: 75%;}
    .column-extraSmall-8 {width: 66.66667%;}
    .column-extraSmall-7 {width: 58.33333%;}
    .column-extraSmall-6  {width: 50%;}
    .column-extraSmall-5 {width: 41.66667%;}
    .column-extraSmall-4 {width: 33.33333%;}
    .column-extraSmall-3 {width: 25%;}
    .column-extraSmall-2 {width: 16.66667%;}
    .column-extraSmall-1 {width: 8.33333%;}                     
}
@media (min-width: 768px) {.container {width: 750px;}}
@media (min-width: 768px) {
    .column-small-12 {width: 100%;}
    .column-small-11 {width: 91.66667%;}
    .column-small-10 {width: 83.33333%;}
     .column-small-9 {width: 75%;}
    .column-small-8 {width: 66.66667%;}
    .column-small-7 {width: 58.33333%;}
    .column-small-6  {width: 50%;}
    .column-small-5 {width: 41.66667%;}
    .column-small-4 {width: 33.33333%;}
    .column-small-3 {width: 25%;}
    .column-small-2 {width: 16.66667%;}
    .column-small-1 {width: 8.33333%;}                     
} 
@media (min-width: 995px) {.container {width: 970px;}}
@media (min-width: 995px) {
    .column-medium-12 {width: 100%;}
    .column-medium-11 {width: 91.66667%;}
    .column-medium-10 {width: 83.33333%;}
    .column-medium-9 {width: 75%;}
    .column-medium-8 {width: 66.66667%;}
    .column-medium-7 {width: 58.33333%;}
    .column-medium-6  {width: 50%;}
    .column-medium-5 {width: 41.66667%;}
    .column-medium-4 {width: 33.33333%;}
    .column-medium-3 {width: 25%;}
    .column-medium-2 {width: 16.66667%;}
    .column-medium-1 {width: 8.33333%;}                     
} 
@media (min-width: 1200px) {.container {width: 1170px;}}              
.row [class^="column-"] {                
    text-align: center;                
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 25px;   
    float: left; 
    margin: 10px 0px;
}
.container:before, .container:after {
    display: table;
    content: "";            
}
.row:before, .row:after {
    display: table;
    content: "";            
} 
.container:after, .row:after{clear:both};